@import "modules/_colors";

html {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

html, body {
    min-height: 100% !important;
    width: 100% !important;
    margin: 0;
    padding: 0;
    color: #2C3E50;
}

a {
    color: $palette-petrol;
    text-decoration: none;
}

body {
    line-height: 1.4;
    background-color: white;
}

header.top {
    color: #eee;
    padding: 20px;

    a {
        text-decoration: none;
        color: white;
        float: left;
    }
}

h1, h2, h3 {
    letter-spacing: .6px;
    font-weight: 300;
}

h1 {
    margin: 0;
}

h1 .payoff {
    font-size: 50%;
    display: block;
}

header.top {
    nav {
        margin-top: 12px;
        float: right;
        ul {
            margin: 0;
            padding: 0;
            display: inline;

            li {
                margin: 0;
                padding: 0;
                float: left;
                list-style: none;
                padding: 0 10px;
                text-transform: uppercase;
                border-right: 1px solid white;

                &:last-child {
                    border: none;
                }
            }
        }

        a {
            color: white;
        }
    }
}

main, header.top, footer {
    clear: both;
    border-bottom: solid 1px white;
    padding: 10px 20px;
}

header.top:after  {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section h2 {
    text-transform: uppercase;
}

.about-me h2 {
    display: none;
}

a.button {
    font-size: 200%;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
}

.block {
    list-style: none;
    padding: 20px;
    margin-top: 40px;
    background: rgba(50, 50, 50, .05);
    border: solid 1px lightgrey;
    border-radius: 3px;

    h3 {
        margin-top: 0;

        .fa {
            font-size: 200%;
            margin-right: 10px;
        }
        .fa-plus-circle {
            font-size: 100%;
            margin: 0;
        }
    }
}

.block-list {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #eee;
    padding: 20px;
    height: 100%;
    margin: 0;
}

.photo {
    float: right;
    height: auto;
    max-width: 100%;
    margin-left: 1em;
    margin-bottom: 1em;
}

.contact-links {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        margin: 10px 0 0 0;

        i {
            font-size: 20px;
        }
    }
}

footer {
    background-color: #ddd;
}

abbr[title] {
    cursor: help;
    border-bottom: 1px dashed $palette-grey;
    text-decoration: none;
}

@media screen and (min-width: 640px) {
    main, header.top, footer {
        padding: 20px 20%;
    }
}

@media screen and (max-width: 640px) {
    body {
        font-size: 1.3em;
    }
    .block {
        margin-top: 20px;
    }
    h1 .payoff {
        display: none;
    }
    header.top {
        a {
            text-align: center;
            float: none;
        }
        nav {
            float: none;

            ul {
                display: block;
                margin: 0 auto;

                li {
                    float: none;
                    display: inline-block;
                }
            }
        }
    }
    abbr[title] {
        border: none;
    }
    abbr[title]:before {
        content: attr(title) " ("
    }
    abbr[title]:after {
        content: ")"
    }
}

figure.code-highlight-figure {
    margin: 0;

    .highlight {
        padding: 10px;
    }
}

ul.categories {
    margin: 0;
    padding: 0;
    display: inline;

    li {
        margin: 0;
        padding: 0;
        display: inline;
        list-style: none;
        padding: 0 10px 0 0;
        text-transform: uppercase;

        &:last-child {
            border: none;
        }
    }
}

article {
    img {
        max-width: 100%;
    }
}

code {
    background-color: #f6f8fa;
    border: solid 1px darkgray;
}
