.citron {
    background-color: #e6d681;
}

.orange {
    background-color: #e9be52;
}

.dark-grey {
    background-color: #626866;
    color: white;
}

.mint {
    background-color: #ccd8c0;
}

.light-grey {
    background-color: #9da9a9;
}

.reddish-grey {
    background-color: #998f8a;
}

.light-reddish-grey {
    background-color: #bdb9ae;
}

.lime {
    background-color: #dcd881;
}

.dark-mint {
    background-color: #7db5aa;
}

.medium-petrol {
    background-color: #78b5b7;
}

.petrol {
    background-color: #3d7a8d;
}

.salmon {
    background-color: #e68f81;
}

.rose {
    background-color: #d57485;
    color: white;
}
