$palette-light-grey: #9da9a9;
$palette-grey: #626866;
$palette-light-reddish-grey: #bdb9ae;
$palette-reddish-grey: #998f8a;
$palette-lime: #dcd881;
$palette-citron: #e6d681;
$palette-orange: #e9be52;
$palette-mint: #ccd8c0;
$palette-dark-mint: #7db5aa;
$palette-medium-petrol: #78b5b7;
$palette-petrol: #3d7a8d;
$palette-salmon: #e68f81;
$palette-rose: #d57485;

.palette-bg-light-grey {
    background-color: $palette-light-grey;
}

.palette-light-grey {
    color: $palette-light-grey;
}

.palette-bg-grey {
    background-color: $palette-grey;
    color: white;
}

.palette-grey {
    color: $palette-grey;
}

.palette-bg-light-reddish-grey {
    background-color: $palette-light-reddish-grey;
}

.palette-light-reddish-grey {
    color: $palette-light-reddish-grey;
}

.palette-bg-reddish-grey {
    background-color: $palette-reddish-grey;
}

.palette-reddish-grey {
    color: $palette-reddish-grey;
}

.palette-bg-lime {
    background-color: $palette-lime;
}

.palette-lime {
    color: $palette-lime;
}

.palette-bg-citron {
    background-color: $palette-citron;
}

.palette-citron {
    color: $palette-citron;
}

.palette-bg-orange {
    background-color: $palette-orange;
}

.palette-orange {
    color: $palette-orange;
}

.palette-bg-mint {
    background-color: $palette-mint;
}

.palette-mint {
    color: $palette-mint;
}

.palette-bg-dark-mint {
    background-color: $palette-dark-mint;
}

.palette-dark-mint {
    color: $palette-dark-mint;
}

.palette-bg-medium-petrol {
    background-color: $palette-medium-petrol;
}

.palette-medium-petrol {
    color: $palette-medium-petrol;
}

.palette-bg-petrol {
    background-color: $palette-petrol;
}

.palette-petrol {
    color: $palette-petrol;
}

.palette-bg-salmon {
    background-color: $palette-salmon;
}

.palette-salmon {
    color: $palette-salmon;
}

.palette-bg-rose {
    background-color: $palette-rose;
    color: white;
}

.palette-rose {
    color: $palette-rose;
}
