<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>
            {{ page.name }}
        </title>
        <meta name="description" content="Lucas van Lierop is a freelance software engineer who is specialized in creating, refactoring or containerizing (web) applications" />
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <script src="https://use.fontawesome.com/eb213707b3.js"></script>
    </head>
    <body>
        <header class="palette-bg-petrol">
            <nav>
                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/work/">Work</a></li>
                    <li><a href="/expertise/">Expertise</a></li>
                </ul>
            </nav>

            <a href="/"><h1> Lucas van Lierop | <span class="payoff">freelance software engineer</span></h1></a>
        </header>

        {% block content %}
        {{ page.content }}
        {% endblock %}

        <footer>
            <p>
                <strong>Lucasvanlierop.nl</strong><br />
                All rights reserved © 2016
            </p>
            <ul class="contact-links">
                <li>
                    <a href="tel:+31653593790">
                        <i class="fa fa-phone" style="color:#25d366" title="Phone / Signal"></i>
                        +31 6 53 59 37 90
                    </a>
                </li>
                <li>
                    <a href="mailto:me@lucasvanlierop.nl">
                        <i class="fa fa-envelope-open" title="Mail"></i>
                        me@lucasvanlierop.nl</a>
                </li>
                <li>
                    <a href="https://twitter.com/lucasvanlierop">
                        <i class="fa fa-twitter" style="color:#00aced" title="Twitter"></i> @lucasvanlierop
                    </a>
                </li>
            </ul>
        </footer>

      <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//localhost/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', '1']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <noscript><p><img src="//stats.lucasvanlierop.nl/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            if (window.location.hostname !== 'localhost') {
                ga('create', 'UA-88979910-1', 'auto');
                ga('send', 'pageview');
            }
        </script>
    </body>
</html>

