<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>
            Lucas van Lierop, freelance software engineer #php #symfony #docker
        </title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="css/normalize.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/palette.css"/>
        <script src="https://use.fontawesome.com/eb213707b3.js"></script>
    </head>
    <body>
        <header class="palette-bg-petrol">
            <nav>
                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/#services">Services</a></li>
                    <li><a href="/work/">Work</a></li>
                    <li><a href="/expertise/">Expertise</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </nav>

            <a href="/"><h1> Lucas van Lierop | <span class="payoff">freelance software engineer</span></h1></a>
        </header>

        {% block content %}
        {{ page.content }}
        {% endblock %}
    </body>
</html>

